In [1]:
import numpy as np
import pandas as pd

In [2]:
data={'ten hs':['bình','hoa','minh','lan','van'],
      'môn':['toán','lý','toán','hóa','lý'],
      'điểm':[8,9,7,6,8]}
df=pd.DataFrame(data)
df

  ten hs   môn  điểm
0   bình  toán     8
1    hoa    lý     9
2   minh  toán     7
3    lan   hóa     6
4    van    lý     8

In [3]:
print(df_group.sum())

NameError: name 'df_group' is not defined

In [4]:
import numpy as np
import pandas as pd
df = pd.DataFrame(
 {
 'key':['A','B','C','A','B','C'],
 'giatri_1':np.random.randint(10,100,6),  'giatri_2':np.random.randint(0,10,6)  },
 columns=['key','giatri_1','giatri_2']
)
print("df: \n",df)
for key, giatri in df.groupby('key'):
 print("\nkey: ",key)
 print("value: \n",giatri)

df:
   key  giatri_1  giatri_2
0   A        86         7
1   B        87         4
2   C        88         9
3   A        21         3
4   B        26         4
5   C        79         4

key:  A
value:
   key  giatri_1  giatri_2
0   A        86         7
3   A        21         3

key:  B
value:
   key  giatri_1  giatri_2
1   B        87         4
4   B        26         4

key:  C
value:
   key  giatri_1  giatri_2
2   C        88         9
5   C        79         4