In [5]:
import numpy as np
import pandas as pd

In [6]:
df=pd.DataFrame(
 {
 'key':['A','B','C','A','B','C'],
 'data':range(6)
 },
 columns=['key','data']
)
df

  key  data
0   A     0
1   B     1
2   C     2
3   A     3
4   B     4
5   C     5

In [7]:
df_group=df.groupby('key')
df_group

In [8]:
print(df_group.sum())

     data
key
A       3
B       5
C       7